# Environment variables
.env

# Database
db.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
images/
media/
!static/images/
!static/media/

# PyCharm
.idea/

# Virtual environment
venv/
env/

# Other
.vs/
Django-Course/