{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">
                <div class="auth__header">
                    <div class="clinic-status__icon">🚫</div>
                    <h3 class="auth__title">Access Denied</h3>
                    <p class="auth__subtitle">You do not have permission to view this page or perform this action.</p>
                </div>
                <div class="auth__actions">
                    {% if request.user == patient %}
                    <a href="{% url 'patient-account' %}" class="btn btn--sub--outline btn--md">Return to Account</a>
                    {% else %}
                    <a href="{% url 'account' %}" class="btn btn--sub--outline btn--md">Return to Account</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}