{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">

                <div class="auth__header">
                    <h3 class="auth__title">Appointment Details</h3>
                </div>

                <div class="form__field">
                    <label>Patient</label>
                    <p class="profile__data">{{ patient.user.get_full_name }}</p>
                </div>

                <div class="form__field">
                    <label>Phone number</label>
                    <p class="profile__data">{{ patient.phone_number }}</p>
                </div>

                <div class="form__field">
                    <label>Date</label>
                    <p class="profile__data">{{ single_appointment.date }}</p>
                </div>

                <div class="form__field">
                    <label>Time</label>
                    <p class="profile__data">{{ single_appointment.start_time }}</p>
                </div>

                <div class="form__field">
                    <label>Reason</label>
                    <p class="profile__data">{{ single_appointment.purpose.purpose }}</p>
                </div>

                <div class="form__field">
                    <label>Price</label>
                    <p class="profile__data">{{ single_appointment.purpose.price_PLN }} PLN</p>
                </div>

                {% if single_appointment.diagnosis %}
                <div class="form__field">
                    <label>Diagnosis</label>
                    <p class="profile__data">{{ single_appointment.diagnosis }}</p>
                </div>
                {% endif %}

                {% if single_appointment.description %}
                <div class="form__field">
                    <label>Treatment Description</label>
                    <p class="profile__data">{{ single_appointment.description }}</p>
                </div>
                {% endif %}

                <div class="auth__actions">
                    <a href="javascript:history.back()" class="btn btn--sub--outline btn--md">Go Back</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}