{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">Appointment Confirmed!</h3>
                    <p class="auth__subtitle">Your appointment has been successfully booked. Thank you for using our service!</p>
                </div>

                <div class="auth__actions">
                    <a class="btn btn--sub--outline btn--md" href="{% url 'patient-account' patient.id %}">&larr; Go back</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}