{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">

                <div class="auth__header">
                    <h3 class="auth__title">Update Appointment Status</h3>
                </div>

                <form method="POST" class="form auth__form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <div class="auth__actions">
                        <a href="javascript:history.back()" class="btn btn--sub--outline btn--md">Go Back</a>
                        <input class="btn btn--main btn--md" type="submit" value="Update Status" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}