{% extends 'main.html' %}
{% load static %}
{% block content%}

{% if page == 'register' %}

<div class="container">
    <div class="auth">
        <div class="column card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">New dentist account</h3>
                </div>

                <form method="POST" action="{% url 'register-user' %}" class="form auth__form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <div class="auth__actions">
                        <input class="btn btn--sub btn--lg" type="submit" value="Sign In" />
                    </div>
                </form>

                <div class="auth__alternative">
                    <p class="auth__alternative-text">Already have an Account?</p>
                    <a href="{% url 'login-dentist' %}" class="btn btn--sub--outline btn--md">Log In as Dentist/Manager</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">Dentist's Login</h3>
                </div>

                <form action="{% url 'login-dentist' %}" method="POST" class="form auth__form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">

                    <div class="form__field">
                        <label for="formInput#text">E-mail:</label>
                        <input class="input input--text" id="formInput#text" type="text" name="email"
                               placeholder="Enter your username..." />
                    </div>

                    <div class="form__field">
                        <label for="formInput#password">Password:</label>
                        <input class="input input--password" id="formInput#password" type="password" name="password"
                               placeholder="••••••••" />
                    </div>

                    <div class="auth__actions">
                        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                        <a href="{% url 'password-reset' %}">Forget Password?</a>
                    </div>
                </form>

                <div class="auth__alternative">
                    <p class="auth__alternative-text">Don't have an Account?</p>
                    <a href="{% url 'register-user' %}" class="btn btn--sub--outline btn--md">Sign Up</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}