{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="column card">
            <div class="card__body">

                <div class="auth__header text-center">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3>Password Reset Complete</h3>
                    <p>Your password has been successfully reset.</p>
                </div>

                <div class="auth__alternative">
                    <p>You can now log in with your new password.</p>
                    <br>
                    <a href="{% url 'login-dentist' %}">Log In</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}