{% extends 'main.html' %}
{% load static %}
{% block content %}

<section class="clinic-skills">
    <div class="container">
        <div class="layout">

            <!-- LEFT COLUMN: Image -->
            <div class="column column--1of3">
                <div class="card">
                    <img class="project__thumbnail"
                         src="{% if single_skill.skill_image %}{{ single_skill.skill_image.url }}{% else %}{% static 'media/default.jpg' %}{% endif %}"
                         alt="skill thumbnail" />
                </div>
            </div>

            <!-- RIGHT COLUMN: Info -->
            <div class="column column--2of3">
                <div class="card">
                    <div class="card__header">
                        <h5 class="card__headerTitle">{{ single_skill.name }}</h5>
                    </div>
                    <div class="card__body">
                        <h6 class="profileSkill__title">What is the {{ single_skill.name }} skill all about?</h6>
                        <p class="profileSkill__info">{{ single_skill.description }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}