<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/booking.css' %}" />

    <script src="https://kit.fontawesome.com/61b96bf008.js" crossorigin="anonymous"></script>

    <title>--- EasyGabinet 1.0 ---</title>
</head>

<body>

{% include 'navbar.html' %}

{% if messages %}


{% for message in messages %}
<div class="alert alert--{{ message.tags }}">
    <p class="alert__message">{{ message }}</p>
    <button class="alert__close">&times;</button>
</div>
{% endfor %}


{% endif %}

{% block content %}
{% endblock content %}


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>