{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'main' %}" class="header__logo">
            <img src="{% static 'media/logo.jpg' %}"  alt="Dental Clinic Logo" />
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Doctors</a></li>
                <li class="header__menuItem"><a href="">Patients</a></li>
                <li class="header__menuItem"><a href="{% url 'all-projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="">Inbox</a></li>
                <li class="header__menuItem"><a href="">My Account</a></li>
                <li class="header__menuItem"><a href="{% url 'register' %}" class="btn btn--sub">Register as patient</a></li>
                <li class="header__menuItem"><a href="" class="btn btn--sub">Login</a></li>
            </ul>
        </nav>
    </div>
</header>