{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="column card">
        <div class="card__body">

            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'media/icon.svg' %}" alt="icon" />
                </a>
                <h3>Reset Password</h3>
                <p>Enter your email and we'll send you a reset link.</p>
            </div>

            <form method="POST" class="form auth__form">
                {% csrf_token %}
                <div class="form__field">
                    <label for="formInput#email">E-mail:</label>
                    <input class="input input--text" id="formInput#email" type="email" name="email"
                           placeholder="Enter your email..." />
                </div>

                <br><br>
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Send Reset Link" />
                </div>
            </form>

            <div class="auth__alternative">
                <p>Remembered your password?</p>
                <a href="{% url 'patient-login' %}">Log In</a>
            </div>

        </div>
    </div>
</div>

{% endblock content %}