{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="column card">
        <div class="card__body">

            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'media/icon.svg' %}" alt="icon" />
                </a>
                <h3>Check your Email</h3>
                <p>We've sent a password reset link to your email address. Please check your inbox.</p>
            </div>

            <div class="auth__alternative">
                <p>Didn't receive an email?</p>
                <a href="{% url 'patients-password-reset' %}">Try again</a>
            </div>

        </div>
    </div>
</div>

{% endblock content %}