{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
            <div class="column card">
                <div class="card__body">

                    <div class="auth__header text-center">
                        <a href="/">
                            <img src="{% static 'media/icon.svg' %}" alt="icon" />
                        </a>
                        <h3>Set New Password</h3>
                        <p>Enter your new password below.</p>
                    </div>

                    <form method="POST" class="form auth__form">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="form__field">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                            <p style="color:red;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}

                        <br><br>
                        <div class="auth__actions">
                            <input class="btn btn--sub btn--lg" type="submit" value="Set New Password" />
                        </div>
                    </form>

                </div>
            </div>
    </div>
</div>

{% endblock content %}