{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="column card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">Reset Password</h3>
                    <p class="auth__subtitle">Enter your email and we'll send you a reset link.</p>
                </div>

                <form method="POST" class="form auth__form">
                    {% csrf_token %}
                    <div class="form__field">
                        <label for="formInput#email">E-mail:</label>
                        <input class="input input--text" id="formInput#email" type="email" name="email"
                               placeholder="Enter your email..." />
                    </div>

                    <div class="auth__actions">
                        <input class="btn btn--sub btn--lg" type="submit" value="Reset e-mail" />
                    </div>
                </form>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert--error">{{ error }}</div>
                {% endfor %}
                {% endif %}

                <div class="auth__alternative">
                    <p class="auth__alternative-text">Remembered your password?</p>
                    <a href="{% url 'login-dentist' %}" class="btn btn--sub--outline btn--md">Log In</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}