{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="auth">
        <div class="column card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">Password Reset Complete</h3>
                    <p class="auth__subtitle">Your password has been successfully reset.</p>
                </div>

                <div class="auth__alternative">
                    <p class="auth__alternative-text">You can now log in with your new password.</p>
                    <a href="{% url 'patient-login' %}" class="btn btn--sub--outline btn--md">Log In</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}