{% extends 'main.html' %}
{% load static %}
{% block content%}

<div class="container">
    <div class="auth">
        <div class="card">
            <div class="card__body">

                <div class="auth__header">
                    <a href="/">
                        <img src="{% static 'media/icon.svg' %}" alt="icon" />
                    </a>
                    <h3 class="auth__title">Register new patient</h3>
                </div>

                <form method="POST" action="{% url 'patient-register' %}" class="form auth__form">
                    {% csrf_token %}
                    {% for field in user_form %}
                    <div class="form__field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <div class="auth__actions">
                        <input class="btn btn--sub btn--lg" type="submit" value="Register" />
                    </div>
                </form>

                <div class="auth__alternative">
                    <p class="auth__alternative-text">Already have an Account?</p>
                    <a href="{% url 'patient-login' %}" class="btn btn--sub--outline btn--md">Log In as patient</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}