{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="auth">
        <div class="column card">
            <div class="card__body">

                <a class="clinic-back-btn" href="{% url 'patient-account' patient_id=patient.id %}">
                    <i class="im im-angle-left"></i>
                </a>

                <form class="form" method="POST" action="{% url 'patient-account-edit' patient_id=patient.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="form__error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <input class="btn btn--sub btn--lg" type="submit" value="Submit" />
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}