{% extends 'main.html'%}

{% block content %}

<form class="form" style="padding-left: 100px;padding-top: 100px;" action="{% url 'register' %}" method="POST" enctype="multipart/form-data"> <!-- wihout enctype, it won't send any file
                                                              but will send only fileds from a form -->
    {% csrf_token %}

    {% for field in form %}

    <!-- Input:Text -->
    <div class="form__field">
        <label for= "formInput#text">{{field.label}} </label>
        {{ field }}
    </div>

    {% endfor %}

    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
</form>



{% endblock %}